

.container {
	height: 100px;
	background-color: white;
}

#header {
	height: 30px;
	display: inline-block;
	width: 100%; 
	position:relative;
		
}

.head-text {
	float: right;
	margin-left: 6px;
	margin-right: 6px;
	font-family: arial,sans-serif;
	color: black;
	font-size: small;
	text-decoration: none;
}

#head-p {
	position: absolute;
	top: 20px;
	right:  150px;
}

.img-header {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 8px;
	right: 110px;
}

#head-btn {
	border-radius: 2px;
	float: right;
	display: inline-block;
    font-size: 16px;
	text-align: center;
    text-decoration: none;
	background-color: #4285f4; 
    color: white; 
    border: 2px solid #4285f4;
	position: absolute;
	top: 10px;
	right: 30px;
	transition-duration: 0.4s;
	padding: 0 12px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: small;
}

#head-btn:hover {
     background-color: white;
     color: #008CBA;
}

/* main content */

.img-main {
	height: 200px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
	top: 80px;
	
}

.search-bar {
	display: inline-block;
	position:relative;
	top: 110px;
	height: 200px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

 
#input {
	border-radius: 1px;
	width: 90%;
	font-size: 16px;
	text-align: left;
    text-decoration: none;
	background-color: 	white;
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 36px;
    line-height: 27px;
	border: 1px solid #f2f2f2;
	box-shadow: 1px 1px #f2f2f2;
}



.img-search {
	height: 20px;
	width: 20px;
	display: inline-block;
	float: right;
	position: relative;
	right:40px;
	bottom: 28px;
	margin-left: 10px;
	
	
}


.search-btn {
	position: relative;
	top: 25px;	
	
}

#search-btn-1 {
	float:left;
	position: relative;
	left:100px;
	background-color: #f2f2f2;
	width: 120px;
	height: 40px;
	border-radius: 4px;
	font-size: small;
	height: 36px;
    line-height: 27px;
	color: #757575;
	border: 2px solid #f2f2f2;
	font-weight: bold;
}

#search-btn-2 {
	float:right;
	position: relative;
	right:70px;
	background-color: #f2f2f2;
	width: 120px;
	height: 40px;
	border-radius: 4px;
	font-size: small;
	height: 36px;
    line-height: 27px;
	color: #757575;
	 border: 2px solid #f2f2f2;
	 font-weight: bold;
}

#search-btn {
	position:relative;
	width: 70%;
	border-radius: 1px;
	font-size: 16px;
	text-align: center;
    text-decoration: none;
	background-color: white; 
}

p {
	text-align: center;
	font-family: arial,sans-serif;
	color: black;
	font-size: small;
	position: relative;
	top: 50px;
}

.link {
	text-decoration: none;
}


/* footer content*/

#footer {
	height: 44px;
	font-family: arial,sans-serif;
	font-size: small;
	background-color: #f2f2f2;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	border-top: 1px solid #e4e4e4;
    line-height: 10px;
	
}

#footer-left, #footer-right {
	margin-top: 15px;
}

#footer-left {
	float: left;
	margin-left:10px;
}

#footer-right {
	float: right;
	margin-right: 10px;
}

.footer-links {
	display:inline;
	text-align: center;
	margin: 3px;
	text-decoration: none;
	color: 		#C0C0C0;
}
